.App {
  text-align: center;
}

body{
  color:white;
}

html { 
  background:url('https://images.unsplash.com/photo-1500767308472-968686793001?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img{
  width: 25%;
}